/* gotta have a fancy navbar! */
.navbar {
    background: linear-gradient(90deg, rgba(203,17,224,1) 0%, rgba(255,107,129,1) 100%);;
    border-radius: 5px;
}

/* stop navbar from being so... squished */
.navbar-brand {
    padding-left: 1rem;
}

.navbar-end {
    padding-right: 1rem;
}

/* navbar link colours */
a.navbar-item {
    color: #FFFFFF;
}
a.navbar-item:hover {
    color: #6BFF88;
}

/* grid cards with equal height */
.has-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.has-equal-height .card-footer {
  margin-top: auto;
}

img.grid-image {
    object-fit: cover;
}

/* r18 hover */
img.r18 {
    /*filter: blur(10px);*/
    /* this causes it to blur in on load... */
    /*transition: filter 0.05s;*/
}

img.r18:hover {
    filter: none;
}

span.is-overlay {
    pointer-events: none;
}

span.is-r18 {
    font-size: 150%;
    font-weight: 500;
    color: #FF0000;

    padding: 5px;
    border-radius: 3px;
    background-color: rgba(110, 0, 0, 0.5);
    pointer-events: none;
}

span.is-multiple-pages {
    text-align: right;
    float: right;
    font-size: 120%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 5px;

    pointer-events: none;
}

/* artwork grid progress bar label */
.artwork-progress-label {
    position: relative;
}

/* artwork view image */
.artwork-view-image {
    max-height: 80vh;
    max-width: 100vh;
}

.artwork-author-name {
    font-weight: 500;
    color: #2EFFA8;
}

.artwork-is-bookmarked {
    color: #00AD65;
}
.artwork-not-bookmarked {
    color: #AD1B00;
    font-style: strong;
}

/* delete button on artwork pages */
button.delete-button {
    position: absolute;
    right: 0;

    background-color: red;
    border-radius: 5px;
}
button.delete-button[disabled] {
    background-color: red;
}

button.delete-button > span {
    color: #ffffff
}
