{% extends "grids/base_grid.html" %}
{% import "util.jinja2" as util %}

{%- macro avatar() -%}
<img src="{{ url_for('static_image_avatar', user_id=author_id) }}" alt="Author's avatar">
{%- endmacro -%}

{% macro delete_url(author_id) -%}
    {{ url_for("db_blacklist_user", author_id=author_id) }}
{%- endmacro -%}

{% block grid_header %}
<hr>
<div class="container">
    <!--div class="hero">
        <div class="hero-body"-->
    <article class="media">
        <figure class="media-left">
            <figure class="image is-128x128">
                {{ avatar() }}
            </figure>
        </figure>
        <div class="media-content">
            <div class="content">
                <strong class="title is-4">{{ author.name }}</strong>&nbsp;
                <small>{{ author.account_name }}</small>&nbsp;
                <small>
                    <a href="{{ pixiv_author_url(author_id) }}">{{ author_id }}</a>
                </small>
                <small>
                    <button id="blacklist-button" class="button delete-button" disabled>
                        <span>Blacklist</span>
                    </button>
                </small>
                <br/>
                <br/>
                {% if extended_author == None or extended_author.comment|length == 0 %}
                <p>Author comment is not available.</p>
                {% else %}
                <p>{{ extended_author.comment }}</p>
                {% endif %}

                {% if extended_author != None %}
                <br/>
                <a href="{{ extended_author.twitter_url }}">
                    <i class="fab fa-twitter"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </article>
</div>
<!--/div>
</div-->
<hr>

<script>
    let button = document.getElementById("blacklist-button");
    let span = button.children[0];
    button.disabled = false;
    button.onclick = () => {
        fetch("{{ delete_url(author_id) }}", {method: "POST"}).then((resp) => {
            button.disabled = true;
            if (resp.ok) {
                span.innerHTML = "Blacklisted";
            } else {
                span.innerHTML = "Failed";
            }
        }).error((e) => {
            span.innerHTML = "Failed, retry";
        });
    };
</script>
{% endblock %}
