{% extends "meta/base.html" %}
{# Main artwork page #}

{% block content %}
{% set artwork_id = data["id"] %}
{% set artwork_title = data["title"] %}
{% set author_name = data["user"]["name"] %}
{% set author_id = data["user"]["id"] %}
{% set caption = data["caption"] %}
{% set bookmarked = data["is_bookmarked"] == True %}

{% macro page_url(page=0) -%}
    {{ url_for("static_image_full", image_id=artwork_id, page_id=page) }}
{%- endmacro -%}

{% macro tag_url(tag) -%}
    {{ url_for("tags_named", tag=tag) }}
{%- endmacro -%}


{% macro pixiv_author_url() -%}
    {{ "https://www.pixiv.net/en/users/" + author_id|string }}
{%- endmacro -%}

{% macro pixiv_artwork_url() -%}
    {{ "https://www.pixiv.net/en/artworks/" + artwork_id|string }}
{%- endmacro -%}

<div class="container">
    <div class="columns" style="padding-top: 2em">
        <div class="column is-three-fifths">
            <figure class="image">
                <img src="{{ page_url(artwork_id) }}"
                     style="object-fit: contain"
                     class="artwork-view-image"
                >
            </figure>
        </div>
        <div class="column is-two-fifths">
            <div class="card" id="artwork-card-author">
                <header class="card-header">
                    <p class="card-header-title">
                        By
                        &nbsp;
                        <span class="artwork-author-name">{{ author_name }}</span>
                        &nbsp;
                        (<a href="{{ pixiv_author_url() }}">{{ author_id }}</a>)
                    </p>
                </header>
                <div class="card-content">
                    <p class="title is-8">
                        {{ artwork_title }}&nbsp;
                        (<a href="{{ pixiv_artwork_url() }}">{{ artwork_id }}</a>)
                    </p>
                    <p class="subtitle is-4">
                        Bookmarked:
                        {% if bookmarked %}
                        <span class="artwork-is-bookmarked">Yes</span>
                        {% else %}
                        <span class="artwork-not-bookmarked">No</span>
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="card-footer-item">
                        Uploaded at: {{ data["create_date"] }}
                    </div>
                </div>
            </div>

            <br/>
            <div class="card" id="artwork-card-caption">
                <header class="card-header">
                    <p class="card-header-title">Caption</p>
                </header>
                <div class="card-content">
                    {% if caption|length <= 0 %}
                    <em>No caption.</em>
                    {% else %}
                    {{ caption|safe }}
                    {% endif %}
                </div>
            </div>
            <br/>
            <div class="card" id="artwork-card-stats">
                <header class="card-header">
                    <p class="card-header-title">Stats</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p><em>At time of download:</em></p>
                        <ul>
                            <li>Bookmarks: {{ data["total_bookmarks"] }}</li>
                            <li>Views: {{ data["total_view"] }} </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card" id="artwork-card-tags">
                <header class="card-header">
                    <p class="card-header-title">Tags</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            {% for tag in data["tags"] %}
                            <li>
                                <a href="{{ tag_url(tag['name']) }}">
                                    {% if tag["translated_name"] != None %}
                                    {{ tag["translated_name"] }} ({{ tag["name"] }})
                                    {% else %}
                                    {{ tag["name"] }}
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
