{% extends "meta/base.html" %}
{# Artwork grid page #}

{% block content %}
{# useful page vars #}
{% set current_page = (after // 25) + 1 %}
{% set max_page = (total_count // 25 + 1) %}

{%- macro page_url(page_num) -%}
{{ request.path + "?after=" + (page_num * 25)|string + "&sortmode=" + sortmode }}
{%- endmacro -%}

{%- macro button_text(page_num) -%}
{{ (page_num * 25) }} - {{ ((page_num + 1) * 25) }}
{%- endmacro -%}

{% set fwd_url = page_url(current_page + 1) %}
{# clamp after url (it's validated server-side anyway, so)
{% if after > 25 %}
{% set prv_url = page_url(current_page - 1) %}
{% else %}
{% set prv_url = page_url(0) %}
{% endif %}

{# pagination #}
{# calculate pages #}

<section class="section">
    {% block grid_header %}
    {% endblock %}
</section>

{% set current_page = (after // 25) %}
{% set max_page = (total_count // 25) %}
{% set is_first_page = current_page == 0 %}
{% set is_last_page = current_page >= max_page %}

<section class="section" style="padding: 0">
    <nav class="pagination is-centered">
        <ul class="pagination-list">
            {% if not is_first_page %}
            <li style="padding-right: 1rem">
                <a href="{{ prv_url }}" class="pagination-previous">Go back</a>
            </li>
            {# one page before #}
            <li>
                <a href="{{ page_url(current_page - 1) }}" class="pagination-link">
                    {{ button_text(current_page - 1) }}
                </a>
            </li>
            {% endif %}

            {# current page #}
            <li>
                <a href="{{ page_url(current_page) }}" class="pagination-link is-current">
                    {{ button_text(current_page) }}
                </a>
            </li>

            {# one page after #}
            {% if not is_last_page %}
            <li>
                <a href="{{ page_url(current_page + 1) }}" class="pagination-link">
                    {{ button_text(current_page + 1) }}
                </a>
            </li>

            <li style="padding-left: 1rem">
                <a href="{{ fwd_url }}" class="pagination-next">Go forwards</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        <p class="subtitle artwork-progress-label"
           style="left: {{ ((after / total_count) * 100) - 4 }}%"
        >{{ after }} / {{ total_count }}</p>
        <progress class="progress" value="{{ after }}" max="{{ total_count }}"></progress>
    </div>
</section>

{# the grid itself #}
<section class="section">
    <div class="columns is-multiline">

        {# these are all ArtworkCard objects #}
        {% for artwork in artworks %}
        <div class="column is-one-fifth">
            <div class="card has-equal-height">
                <div class="card-image">
                    <figure class="image is-square">
                        <a href="{{ url_for('.artwork_page', artwork_id=artwork.id) }}">
                            <img src="{{ url_for('.static_image_grid', image_id=artwork.id) }}"
                                 height="250"
                                 width="250"
                                 class="grid-image {% if artwork.r18 %}r18{% endif %}"
                            />
                        </a>
                        {% if artwork.r18 %}
                        <span class="is-overlay r18-text" style="pointer-events: none;">R-18</span>
                        {% endif %}

                    </figure>
                </div>

                <div class="card-content">
                    <p class="title is-4">
                        <a href="{{ url_for('.artwork_page', artwork_id=artwork.id) }}">
                            <abbr title="{{ artwork.id }}">{{ artwork.title }}</abbr>
                        </a>
                    </p>
                    <p class="subtitle is-6">by {{ artwork.author_name }}</p>

                    <!--div class="content">
                        {{ artwork.description }}
                    </div-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
